* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: rgb(255, 255, 255);
    display: flex;
    min-height: 100vh;
    background: #fed4ff;
  }
  
  header {
    color: rgb(255, 255, 255);
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: auto ;
  }
  
  header h1 {
    font-size: 2.5rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-bottom: 1.5rem;
  }
  
  #task-form {
    color: rgb(255, 255, 255);
    display: flex;
  }
  
  #task-input {
    flex: 1 1 0%;
    padding: 1rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1rem;
    margin-right: 1rem;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    background: none;
  }
  
  #task-input::placeholder {
    color: rgb(255, 255, 255);
  }
  
  #submit {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1rem;
    padding: 1rem;
    background: none;
  }
  
  #submit:hover {
    color: rgb(255, 255, 255);
    opacity: 0.8;
  }
  
  #submit:active {
    color: rgb(255, 255, 255);
    opacity: 0.6;
  }
  
  .container {
    color: rgb(255, 255, 255);
    flex: 0% 1 0%;
    max-width: 750px;
    width: 100%;
    margin: 2rem auto;
    border-radius: 1rem;
    background-color: rgb(255, 163, 226);
  }
  
  main {
    color: rgb(255, 255, 255);
    flex: 1 1 0%;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
  }
  
  .task-list {
    color: rgb(255, 255, 255);
    padding: 1rem;
  }
  
  #tasks .task {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  #tasks .task .content {
    color: rgb(255, 255, 255);
    flex: 1 1 0%;
  }
  
  #tasks .task .content .text {
    color: rgb(255, 255, 255);
    font-size: 1.13rem;
    width: 100%;
    display: block;
    transition: 0.4s;
  }
  
  #tasks .task .actions {
    color: rgb(255, 255, 255);
    display: flex;
    margin: 0 -0.5rem;
  }
  
  .task .actions button {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 800;
    margin: 0 0.5rem;
    text-transform: uppercase;
    transition: 0.4s;
  }
  
  .task .actions button:hover {
    color: rgb(255, 255, 255);
    opacity: 0.8;
  }
  
  .task .actions button:active {
    color: rgb(255, 255, 255);
    opacity: 0.6;
  }
  
  .task .actions .edit {
    color: rgb(255, 255, 255);
  }
  
  .delete {
    color: rgb(183, 241, 255);
    background: none;
    border: 1px solid rgb(255, 255, 255);
  }
  
  .task .actions .completed {
    color: rgb(255, 255, 255);
  }
  
  .strike {
    color: rgb(255, 255, 255);
    text-decoration: line-through;
  }
  
  #count {
    color: rgb(255, 255, 255);
    font-size: 30px;
  }
  
  #not-completed-count {
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
  }
  
  .task .content .deadline {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    margin-top: 0.5rem;
  }
  
  .task .content .deadline.red {
    color: red;
  }
  
  #time-input {
    padding: 5px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1rem;
    margin-right: 10px;
    background: none;
  }